<div class="d-flex align-items-center">
    <h1>更新画面</h1>
    <div class="ms-auto boards__linkBox">
         <%= link_to '一覧', tasks_path, class: 'btn btn-outline-dark'%>
    </div>
</div>
<%= render partial: 'form', locals: { task: @task } %>