<div class="d-flex align-items-center">
    <h1>ユーザーの登録が完了しました</h1>
    <div class="ms-auto boards__linkBox">
            <%= link_to '一覧', tasks_path, class: 'btn btn-outline-dark'%>
    </div>
</div>